 
 .feedback {
     border: 1px solid #377ef1;
     margin: 24px;
     text-align: center;
     background:#19bde2;
 }

 .title {
     color:#e2199f;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
 }

 .message {
    color: #e2199f;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
 }

 .button {
     text-decoration: none;
     display: inline-block;
     padding: 15px 30px;
     margin: 10px 20px;
     border-radius: 10px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .5);
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     letter-spacing: 2px;
     color: rgb(123, 245, 17);
     transition: .15s ease-in-out;
     cursor: pointer;
 }

 .button:hover,
 .button:focus {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .5);
    color: #e2199f;
 }

 .list {
     display: inline-block;
     font-family: 'Montserrat', sans-serif;
 }

 .item {
    letter-spacing: 2px;
    font-weight: bold;
    color: #e2199f;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .5);
 }